@media only screen and (max-width: 600px) {}

.body-div {
  display: grid;
  grid-template-columns: minmax(400px, auto) 1fr;
  grid-template-areas:
    "navbar mainContent"
    "footer";
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#navbar {
  grid-area: navbar;
  position: fixed;
}

.nav-link {
  display: block;
  border-bottom: 1px solid black;
  padding: 5px;
  margin: 10px 0;
  text-decoration: none;
  color: black;
}

h1 a {
  text-decoration: none;
  color: black;
}

#main-doc {
  grid-area: mainContent;
}

main header {
  font-size: 1.5em;
  font-weight: bold;
}

#html li {
  list-style: none;
}

footer {
  margin-top: 50px;
  grid-area: footer;
}